<div class="container d-grid gap-3">
  <div class="row gap-3">
      <p [class.lbl-selecionado]="listagemTipo == 'populares'"
          class="lbl-categoria col-12 col-md col-lg fw-semibold text-dark text-center fs-5 bg-light  rounded-3 my-2"
          (click)="selecionarFilmesPopulares()" role="button">
          Filmes em Alta
      </p>
      <p [class.lbl-selecionado]="listagemTipo == 'avaliados'"
          class="lbl-categoria col-12 col-md col-lg  fw-semibold text-dark text-center fs-5 bg-light rounded-3 my-2"
          (click)="selecionarFilmesMelhoresAvaliados()" role="button">
          Filmes Por Nota
      </p>
      <p [class.lbl-selecionado]="listagemTipo == 'favoritos'"
          class="lbl-categoria col-12 col-md col-lg fw-semibold text-dark text-center fs-5 bg-light rounded-3 my-2"
          (click)="selecionarFavoritos()" role="button">
          Filmes Favoritos
      </p>
  </div>
  <div>
      <p [class.lbl-selecionado]="listagemTipo == 'pesquisados'"
          class="lbl-categoria col-12 col-md col-lg fw-semibold text-dark text-center fs-5 bg-light rounded-3 my-2"
          (click)="selecionarFilmesPorTitulo()" role="button">
          Pesquisar Filmes
      </p>
  </div>
  <app-filme-pesquisa *ngIf="listagemTipo == 'pesquisados' "
      (onTituloSelecionado)="selecionarFilmesPorTitulo($event)"></app-filme-pesquisa>
  <div class="row g-3 mb-3">
      <app-card-filme *ngFor="let filme of filmes" [filme]="filme" class="col-12 col-md-4 col-lg-2"></app-card-filme>
  </div>
  <app-pagination *ngIf="ehPaginado" class="d-flex justify-content-center"
      (onPaginaSelecionada)="paginaSelecionada($event)" [page]="paginaAtual">
  </app-pagination>
</div>