<div class="container d-grid gap-3">
  <div class="row gap-3">
    <h2 id="lblEmAlta" class="col fw-semibold text-dark" (click)="selecionarFilmesPopulares()" role="button">
      Filmes em Alta
    </h2>
    <h2 id="lblMelhoresAvaliados" class="col fw-semibold text-dark" (click)="selecionarFilmesMelhoresAvaliados()" role="button">
      Filmes Por Nota
    </h2>
    <h2 id="lblFavoritos" class="col fw-semibold text-dark" (click)="selecionarFavoritos()" role="button">
      Filmes Favoritos
    </h2>
  </div>
  <app-pagination *ngIf="listagemTipo != 'favoritos'" class="d-flex justify-content-center" (onPaginaSelecionada)="paginaSelecionada($event)">
  </app-pagination>
  <div id="pnlFilmes" class="row g-3 mb-3">
      <app-card-filme *ngFor="let filme of filmes" [filme]="filme" class="col-6 col-md-4 col-lg-2"></app-card-filme>
  </div>
</div>